{% extends 'base.html' %}
{% load static %}

{% block myBlock %}
    <h4>Latest Sniffer: {{  timestamp }} from {{ address }}</h4>
    <a href="{% url 'markers:sniff' 'latest' 0 %}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-search"></i> Latest Sniffer</a>
    <a href="{% url 'markers:sniff' 'last minute' 60 %}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-search"></i> Last Minute</a>
    <a href="{% url 'markers:sniff' 'last hour' 3600 %}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-search"></i> Last Hour</a>
    <a href="{% url 'markers:sniff' 'today' 86400 %}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-search"></i> Today</a>

    {{ markers|json_script:"markers-data" }}
    <div id="map"></div>
    <script src="{% static 'map.js' %}"></script>

{% include 'refresh.html' %}
{% endblock %}